/* DM Sans weights: ExtraLight 200, Regular 400, Regular 400 Italic, Bold 700, Black 900
RED ORANGE: #E24444 
MID ORANGE: #FF7469
ORANGE: #FFA987
BEIGE: #F4E0DC
/* UNIVERSAL STYLES */

html {
    scroll-behavior: smooth
}

body {
    background-color: #0E0E1A;
    color: white;
    font-family: 'DM Sans', sans-serif;
    transition: .3s all;
}

.main {
    padding: 2rem 3rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 11pt;
    transition: .2s all;
}

a:hover {
    color: #FFA987;
    transition: .3s all;
}

p,
li,
ul,
ol {
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    line-height: 1.6rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}





.open {
    display: block;
}


/* NAV */


.desktop-nav {
    display: none;
}


/* --------- HAMBURGER NAV -------- */
.topnav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
}

li h1 {
    font-size: 15px;
    padding-bottom: 1rem;
    font-weight: 500;
}

.logo {
    z-index: 1;
}


nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    background-color: #1411399a;
    padding: 7rem 1rem;
    z-index: 1;
}



.menu-button {
    background-color: rgba(243, 232, 226, 0);
    border: 0px solid transparent;
    line-height: 0;
    z-index: 1;
    color: #f7f1e5;
    z-index: 1;
}

.menu-button:hover {
    color: #fc9559;
}


/* --------- HAMBURGER NAV END -------- */


/* BG VIDEO */

.hero-area {
z-index: 0;
}

/* BUMPER */

.bumper {
    background-image: url(../img/bumper.png);
    background: no-repeat;
    width: 100vw;
    position: absolute;
    right: 0px;
    top: 36.7vh;
}

/* SECTION 1 */

.section-1 {
align-items: center;
padding: 3rem 0rem;

h2 {
    font-size: 20pt;
    text-align: center;
}

.red-orange {
    color: #E24444;
}

.mid-orange {
    color: #FF7469;
}

.orange {
    color: #FFA987;
}
}

.section-2 {
    display: flex;
    gap: 4rem;
    flex-direction: column-reverse;

    p {
        padding-bottom: 1rem;
    }
    
}

/* SECTION 3 */

.section-3 {
    padding: 3rem 0rem;
}

.project-item {
    padding: 3rem 0rem;
    margin: 2rem 0rem;
    position: relative;
    text-align: center;

}



.project-item-one {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;

}

.project-text {
    position: absolute;
    right: 29px;
    bottom: 20px;
 }

.project-item-two {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-three {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-four {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-five {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-six {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-seven {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}

.project-item-eight {
    background-image: url(../img/placeholder.jpg);
    width: 100%;
    height: 200px;
}


/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    width: 100%;
    font-size: 10pt;

    ul {
        display: flex;
        gap: 6rem;
        align-items: center;
    }

    li {
        grid-template-columns: 1.3fr 1fr 1fr;
        gap: 1rem;
        text-transform: uppercase;
        padding-right: 1rem;

    }
}


@media screen and (min-width: 800px) {

    .mobile-nav {
        display: none;
    }

    .menu-button {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        background: rgb(0, 9, 40);
        background: linear-gradient(180deg, rgba(0, 9, 40, 1) 5%, rgba(7, 17, 70, 0) 100%);
        /* position: fixed; */
        width: 100vw;
        z-index: 1;
    
        ul {
            display: flex;
            gap: 6rem;
            padding-right: 2rem;
            align-items: center;
        }
    
        a {
            transition: all .3s ease-out;
        }
    
        a:hover {
            transition: all .3s ease-out;
            color: rgb(30, 127, 255);
        }
    
        .button a:hover {
            transition: all .3s ease-out;
            color: black;
        }
    }

    .section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}